* {
    box-sizing: border-box;
}

body {
	font-family: 'Jura', sans-serif;
	font-size: 16px;
	color:  #5d5756;
	background-color: #ffff;
	margin:0;
	width:100%;
}

/**************carousel**************/
div#slider{
	width:100%;
	overflow:hidden;
}

div#slider figure{
	position: relative;
	width:500%;
	margin: 0;
	padding: 0;
	font-size: 0;
	left:0;
	text-align: left;
	animation: 30s slidy infinite;
}

div#slider figure img{
	float: left;
	width:20%;
}

@keyframes slidy {
	0% {left: 0%;}
	20% {left: 0%;}
	25% {left: -100%;}
	45% {left: -100%;}
	50% {left: -200%;}
	70% {left: -200%;}
	75% {left: -300%;}
	95% {left: -300%;}
	100% {left: -400%;}
}



/************** SECTION**************/

section{
	padding: 40px 10px 40px 10px;
	text-align: left;
	width: 100%;
}

section header {
	width: 100%;
	border: RED;
	margin: 0;
	font-family: 'Julius Sans One', sans-serif;
}

section header h2{
	text-align: center;
	font-size: 40px;
}

section header h3{
	text-align: center;
	font-size: 30px;
}


/******* ARTICLE********/
article {
	width: 100%;
	border:1px solid red
}

article h3{
	text-align: center;
	font-size: 20px;
	color: #c1502e;
}

/******* FOOTER ************/
 footer {
	float:left;
	min-height: 50px;
	width: 99%;
	text-align: center;
}

footer img {
	height: 20px;
}
/********MENU RESPONSIVE****/

/*Strip the ul of padding and list styling*/
nav {
	color: #ffff;
	position: fixed;
	top: 0;
	font-family: 'Julius Sans One', sans-serif;
}

nav ul {
	position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: #454140;
}

nav li.title {
	display: inline-block;
	float: left;
	text-align: left;
    line-height: 25px;
}

nav li.title span{
	display: block;
}


/*Create a horizontal list with spacing*/
nav li {
	display: block;
	float: right;
}

/*Style for menu links*/
nav li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	background: #454140;
	text-decoration: none;
}

/*Hover state for top level links*/
nav li:hover a {
	background: #c1502e;
}

.nav-sm {
	display:none;
}

.nav-sm ul#menu-expanded {
		display: none;
		list-style: none;
		padding: 0px;
		
}
	
.nav-sm ul#menu-expanded li{
		float: none;
		text-align: left;
}

.nav-sm:hover ul#menu-expanded {
		display: inline;
		position: fixed;
}

.nav-sm:hover img {
		display: none;
}

.nav-sm img {
		background-color: #454140;
}

/*Responsive Styles*/

@media screen and (max-width : 920px){
	/*Make dropdown links appear inline*/
	nav {
			text-align:right;
			animation-name: fadein;
			animation-duration: 5s; 
	}
	.nav-sm {
		display:initial;
	}
	
	.nav ul{
		display:none;
	}
}

/*** RESPONSIVE GRID ****/

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}